<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests.bootstrap.php"
        colors="true"
        executionOrder="depends,defects"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        failOnWarning="true">
    <testsuites>
        <testsuite name="API Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>